li{
    color: rgba(255, 25, 0, 0.703);
}
p{
    color: black;
}
div{
    background-color: aqua;
    width: 700px;
    border: 20px;
    border-radius: 5px;
    padding: 20px;
}
#Bought{
    width: 730px;
}